.background1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-inline: 20px;
    background-image: url('./imagenes/fondo1.png');
    background-size: cover;

    height: 90vh;
}

.about {
    width: 40%;
    padding-inline: 5%;
    padding-top: 126px;
}

.about > h3 {
    margin: 0;
    padding: 2%;
}

.about > h4 {
    margin: 0;
    padding: 2%;
    color: white;
}

.about > p {
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
    padding: 2%;
    padding-block: 4%;
    margin-right: 6%;
    font-size: 15px;
    color: white;
}

.study {
    width: 40%;
    padding: 5%;
    color: white;
}

.study > p {
    margin: 6px;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
}

.habilidades > a {
    padding: 25px;
    text-decoration: none;
}

.titleAbout {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-size: 18px;
    color: white;
}

.titleAbout > p {
    margin: 0;
    padding-inline: 10px;
    color: white;
}

@media (max-width: 420px) {
    .background {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 10px;
        height: max-content;
    }
    
    .about {
        width: 90%;
        padding: 2%;
    }
    
    .about > h3 {
        margin: 0;
        padding: 2%;
    }
    
    .about > h4 {
        margin: 0;
        padding: 2%;
    }
    
    .about > p {
        margin: 0;
        padding: 2%;
        padding-block: 6%;
        margin-right: 10%;
    }
    
    .study {
        width: 90%;
        padding: 5%;
    }
    
    .habilidades > a {
        padding: 25px;
        text-decoration: none;
    }
}