.fotter {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-inline: 120px;
    height: 90px;

    background-color: #6C061F;

    color: white;
}

.foot {
    display:flex;
    flex-direction: row;
}

.foot > p {
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-family: 'Roboto';
    padding: 10px;
    font-weight: 500;
}

.links {
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
    
}